
 /* .container{
     background-image:url("/images/wal.png"); */
    /* width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
      */

.logo{
    position: absolute;
    justify-content: left;
    margin-top: -20px;
}
.lk{
    justify-content: end;
    margin-left: 80%;
    gap: 20px;
    display: flex;
    margin-top: -10px;

}
.navbar{
    height: 60px;
    width: 100%;
   display: flex;
   /* justify-content:center; */
   /* gap:20px; */
   background-color: rgba(160, 60, 60, 0.995);
   position: relative;
    
}
nav a{
    color: rgb(44, 25, 1);
    text-decoration: none;
     gap: 10px;
     font-size: 20px;
     font-weight:500;
    
    
}
 Link{
    font-weight: 20px;
    /* text-decoration: none; */
   position: absolute;
    /* color:white; */
    /* list-style: none; */
    /* gap: 20px; */
   
}


 .nav-link{
    position: relative;
    height: 40px;
    width: 70px;
    border-radius: 4px;
    /* background-color: rgb(212, 109, 25); */
    text-decoration: none;
     padding: 3px;
     /* font-weight: bold;    */
}
.deliver{
    height: 30px;
    width: 30%;
    margin-left: 20%;
    background-color: rgb(245, 247, 136);
    font-weight: bold;
    display: inline-block;
    /* gap: 30%; */
} 
.truck{
    animation: moveTruck 3s linear infinite;

}
@keyframes moveTruck{
    0%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(-5px);
    }
}
.carousel-item img{
   height: 700px;
   object-fit: cover;
}

.carousel-control-prev ,.carousel-control-next {
    margin-top:30%;
    transform: translateY(-50%);
    bottom: auto;
    font-size: 40px;

}
.carousel-item{
    position: relative;
}
.glow-title{
    position: absolute;
    color: #6F4E37;
    font-size: 70px;
    top: 15%;
    left: 10%;
    /* font-weight: bold; */
    font-style: oblique;
}
.beauty-title{
    position: absolute;
    color:  rgba(160, 60, 60, 0.995);
    font-size: 70px;
    top: 26%;
    left: 10%;
    font-weight: bold;
    font-style: italic;
}
.hero-text{
    position: absolute;
    top:40%;
    left: 10%;
    font-weight: bolder;
}
.carbtn{
    position: absolute;
    height: 40px;
    width: 120px;
    top: 55%;
    left: 15%;
    color: white;
    font-weight: bolder;
    background-color: #6F4E37; 
    border-radius: 10px;
    border-color: white;
    box-shadow: none;
}
.cate{
    background-color: #d2ac9d;
}
.category{
    width: 100%;
    height: 130vh;
    background-color: #F5E6DA;
    text-align: center;
    display: flex;
    gap: 20px;
}

h1{
    color: #6F4E37;
    text-align: center;
}
.cards{
    background-color: #f0dfd4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    padding: 20px;
}
.card{
    background-color: #F5E6DA;
    height: 340px;
    width: 350px;
    padding: 30px;
    border-radius: 3px;
   
}
.card :hover{
    transform: scale(1.08);
    cursor: pointer;
}
.card img{
    height: 300px;
    width: 300px;
}
.cards2{
    background-color: #e1ab95;
    height: 500px;
    width: 600px;
    margin-top: 150px;
    padding: 20px;
    border-radius: 30px;
}
section{
    gap: 10px;
}
.brands{
    height: 350px;
    width: 100%;
    /* display: flex; */
    background-color: #e1ab95;
    position: relative;
    margin-top: -22px;
   
   
}
.brand::-webkit-scrollbar{
    display: none;
}
.brand{
    position: absolute;
    margin-top: 50px;
    background-color: rgb(231, 223, 223);
    height: 180px;
    margin-bottom: 30px;
    width: 100%;
      gap: 20px;
    justify-content: space-between;
    display: flex;
     overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    white-space: nowrap;
}
.brand img{
    height: 100px;
    width: 200px;  
    flex-shrink: 0;

}
.br{
    margin-top: 30px;
    gap: 20px;
}

/* offers */

.offers{
    width: 100%;
    height: 120vh;
    background-color:#ddbcaf;
    position: relative;
}
.off1{
    position: absolute;
    height: 600px;
    width: 40%;
    margin-left: 20px;
    background-color: rgb(241, 239, 237);
    border-radius: 10px;
    top:5%;
    position: relative;
}
.off-title{
    position: absolute;
    top:5% ;
    color: #9c4343;
    left: 10%;
    font-size: 80px;
}
.off-sub{
    position: absolute;
    top:25% ;
    color: #9c4343;
    left: 20%;
}
.off-min{
    position: absolute;
    top:35% ;
    color: #9c4343;
    left: 20%;
}
.off-min1{
    position: absolute;
    top:45% ;
    color: #9c4343;
    left: 20%;
    font-style: italic;
}
.off2{
    position: relative;
    position:absolute;
    height: 150px;
    width: 40%;
    border-radius: 45%;
    background-color: #ebb78a;
    top: 60%;
    left:10%;
}
.off2 h2{
    position: absolute;
    font-size:medium;
    color: white;
    left: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}
.off3{
    position: relative;
    position:absolute;
    height: 150px;
    width: 40%;
    border-radius: 45%;
    background-color: #ebb78a;
    top: 60%;
    left:55%;
}
.off3 h2{
    position: absolute;
    font-size:medium;
    color: white;
    left: 28px;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}
.off4{
    height: 730px;
    width: 130%;
    background-color: #f3efee;
    margin-left: 110%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;

}
.cardof{
     position: relative;
     /* position: absolute; */
    height: 320px;
    width: 300px;
    justify-content: center;
    gap: 15px;
    background-color: #e1e0e0;
   margin-left: 30px;
   margin-top: 25px;
}
.cardof img{
    position: absolute;
    height: 280px;
    width: 250px;
    padding: 10px 10px;
    gap: 10px;
    margin-left: 20px;
    border-radius: 20%;
}
.cardof p{
    margin-top: 90%;
    font-style: inherit;
    font-weight: bolder;
    text-align: center;
    
}

/* register  */

.page{
    /* width: 100%;
    height: 700px; */
    /* background-color: #e1ab95; */
    height: 110vh;
    width: 100%;
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    justify-content: center;
    text-align: center;
    position: relative;
}
.page h1{
    margin-left: 45%;
    position: absolute;
}
.page h4{
    margin-top: 60px;
    margin-left: 47%;
    position: absolute;
}
form{
    position: absolute;
    height: 500px;
    width: 400px;
    background-color:#fbfbfa;
    border: 2px solid black;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 43%;
    margin-top: 10%;
    border-radius: 8px;
}
.field{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.field input,textarea{
    padding: 10px;
    margin: 10px;
}
.field label{
    margin-right: 280px;
    font-weight: 500;
}
button{
    background-color: rgb(13, 13, 13);
    color: white;
    width: 70%;
    height: 30px;
}
.login{
    height: 300px;
    position: absolute;
    margin-top: 10%;
  
}
/* order form  */

.orderpage{
    position: relative;
    justify-content: center;
    text-align: center;
    height: 110vh;
    width: 100%;
    background-image: url("/images/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.orderpage h2{
    position: absolute;
    margin-top: 60px;
    left: 40%;
    font-style: oblique;
}
.orderpage p{
    position: absolute;
    margin-top: 100px;
    left: 40%;
    font-style: normal;
}
.ordform{
    position: absolute;
    height: 600px;
    width: 500px;
    margin-top: 10%;
    margin-right: 40px;
}
.field textarea{
    margin-left: 10px;
}
.radio{
    display: flex;
    margin-left: 30px;
    gap: 10px;
    margin-top: 10px;
        font-weight: 500;

}
.fieldrd  {
    margin-right: 250px;
    gap: 20px;
    font-weight: 500;
}
/* .fieldrd label{
    margin-right: 10px;
} */
.buttonord{
    height: 40px;
    width: 80%;
    margin-top: 35px;
    background-color: rgb(51, 50, 50);
    color: white;
    font-weight: bolder;
}
 .field .errors{
    color: red;
    margin-top: 18%;
    left: 30%;
}
 .fieldrd .errors{
    color: red;
    margin-top: 4%;
    left: 30%;
}
/* product  */

.containerpro{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
    /* display: grid; */
    /* grid-template-columns: repeat(4,1fr); */
    /* gap: 15px; */
    padding: 20px;
}
.containerpr{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 20px;
}
.prd{
    height: 390px;
    width:300px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(248, 199, 199);
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    
}
 .prd img{
    height: 250px;
    width: 280px;
    position: absolute;
    padding: 10px 10px;
}
.prd ul{
    margin-top: 250px;
    list-style: none;
}
.prdhead{
    height: 80px;
    /* margin-top: 80px; */
    background-color: #d2ac9d;
}
.prdlink{
    display: flex;
    /* position: absolute; */
   
}
.navbarpr{
    display: flex;
   margin-top: -25px;
   justify-content: flex-end;
   gap:20px;
   padding-left: 15px;
}

.btn2{
    height:30px;
    width: 90px;
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-size: 13px;
    /* margin-top: -20px; */
    /* margin-left: 20px; */
}
.btn1{
    height: 30px;
    width: 120px;
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-size: 13px;
    /* margin-top: -30px; */
    /* margin-left: 150px; */
}
.btnn{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top: -10px;
}
.search input{
    width: 140%;
    height: 30px;
    border-radius: 10px;
    margin-top: -10px;
}
.search{
    margin-right: 70px;
}
.footer{
    height: 200px;
    width: 100%;
    background-color: #bc8069;
    display: flex;
    gap: 150px;
}
i{
    color: white;
    font-size: 20px;
}
.footer ul{
    list-style: none;
}
.icon{
    display: flex;
    font-size: 30px;
    gap: 10px;
}

